%table.table.table-striped
  %thead
    %tr
      %th= t('date')
      %th= t('from')
      %th= t('to')
      %th= t('seats')
      %th
  %tbody
    - entries.each do |entry|
      %tr
        %td= entry.date.to_formatted_s(:long)
        %td= entry.from
        %td= entry.to
        %td= entry.seats
        %td
          = link_to t('show_details'), entry_path(entry), class: 'btn btn-mini'
