%table.table.table-striped
  %thead
    %tr
      %th= t('entry_date')
      %th= t('who')
      %th= t('from')
      %th= t('to')
      %th= t('seats')
      %th
  %tbody
    - entries.each do |entry|
      %tr
        %td= l entry.date, format: :long
        %td= entry.name
        %td= entry.from
        %td= entry.to
        %td= entry.seats
        %td= link_to t('show_details'), entry_path(entry), class: 'btn btn-default btn-xs', role: 'button'
