.page-header
  %h1= @title

%table.table
  %tbody
    %tr
      %td= t('name') + ':'
      %td= @entry.name
    %tr
      %td= t('phone') + ':'
      %td= @entry.phone
    %tr
      %td= t('date') + ':'
      %td= @entry.date.to_formatted_s(:long)
    %tr
      %td= t('from') + ':'
      %td= @entry.from
    %tr
      %td= t('to') + ':'
      %td= @entry.to
    %tr
      %td= t('seats') + ':'
      %td= @entry.seats
    %tr
      %td= t('notes') + ':'
      %td= @entry.notes

.form-actions
  = link_to t('back'), root_path, :class => 'btn'

%h2=t '.contact'

= form_tag entry_send_email_path(@entry), :html => { :class => 'form-horizontal' } do
  %p=t('to_contact_text', name: @entry.name)
  %hr
  .control-group
    = label_tag t('your_email'), nil, :class => 'input-xlarge'
    .controls
      = text_field_tag :from, nil, :class => 'text_field', :placeholder => t("your_email_address")
  .control-group
    = label_tag t('your_message'), nil, :class => 'input-xlarge'
    .controls
      = text_area_tag :text, nil, :size => "100x20", :class => 'text_field input-xlarge'
  .form-actions
    = submit_tag t('send_email'), :class => 'btn btn-primary'
