<!DOCTYPE html>
<html>
<head>
  <title><%= ENV['ALRIDE_PLATFORM_NAME'] %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= flash_messages %>
    <%= yield %>
  </div>

  <div id="footer">
    <hr />
    <div class="container text-center">
      <% if I18n.locale != :en %>
        <%= link_to "English version", url_for(locale: :en) %>
      <% end %>

      <% if I18n.locale != :de %>
        <%= link_to "Deutsche Version", url_for(locale: :de) %>
      <% end %>

      <br />
      <small>
        <%= link_to "GitHub project", "https://github.com/zonque/AlRide" %>
      </small>
      <hr />
    </div>
  </div>

</body>
</html>
