<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.platform_name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= flash_messages %>
    <%= yield %>
  </div>

</body>
</html>
